﻿

@{
    ViewBag.Title = "Weather Details";
}

<h2>Climate Data For <span id="stationName"></span></h2>
<div id="graph">  </div>
<style>
    svg {
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        box-sizing: border-box;
    }


    .axis y {
        stroke: #ffffff;
    }
</style>

@section scripts{
    <script src="/Scripts/d3/d3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>

        $.ajax({                //ajax to request Annually data.
            url: " /api/Temperature/19017",
            method: "GET",
            data: null,
            dataType: "json",
            timeout: 8000,
            success: drawAnnual,//if success, call function draw();
            error: function error(dataSet) {
                alert('Failed to Load Data');
                $("#graph").text('Failed to Load Data.');;
            }
        });


        function drawAnnual(dataSet) {
            console.log(dataSet);
            d3.select('#stationName').text(dataSet.stationName);//create title for page.

            //create svg append to div.
            var svg = d3.select('#graph').append('svg')
                .attr("width", "100%")
                .attr("height", 600)
                .style('border', '1px solid #000')
                .style('margin', '10px auto');

            //Define a bunch of Margin.
            var chartMargin = new Object();
            chartMargin.left = 40;
            chartMargin.right = 25;
            chartMargin.top = 25;
            chartMargin.bottom = 40;
            

            //define whole graph's width and height.
            var width = 350;
            var height = svg.node().getBoundingClientRect().height + width;

            //get the max and min Temp for draw purpose.
            var maxTem = d3.max(dataSet.annualStats, function (d) { return d.maxTemp; });
            var minTem = d3.min(dataSet.annualStats, function (d) { return d.minTemp; });

            // calculate bar widths
            var maxBarWidth = height / dataSet.annualStats.length;
            var barMargin = 20;
            var barWidth = maxBarWidth - barMargin;

            //get the real width
            width = width - chartMargin.right - chartMargin.left;

           
            //charGroups to contains one single g elments to contain all the rest g elments
            var chartGroup = svg.append('g')
                .classed('chartGroup', true)
                .attr('transform', 'translate(' + chartMargin.top + ',' + chartMargin.right + ')')
                .on("click", function (d) {
                    svg.remove();
                    monthRequest();
                });

            var barGroups = chartGroup
                .selectAll('g')
                .data(dataSet.annualStats);

            //put g into barGroup;
            var maxBarGroups = barGroups.enter()
                .append('g')
                .attr('transform', function (d, i) {
                    return 'translate('
                        + 0
                        + ','
                        + ((i + 1) * (barWidth) - barMargin)
                        + ')';
                });

            
            var minBarGroups = barGroups.enter()
                .append('g')
                .attr('transform', function (d, i) {
                    return 'translate('
                        + 0
                        + ','
                        + (i * (barWidth))
                        + ')';
                });


            //Add years text on the left of each column.
            maxBarGroups.append("text")
                .attr("fill", "white")
                .attr("x", -20)
                .attr("y", 2)
                .text(function (d, i) { return d.year; })
                .attr("fill", "white")
                .style('font-size', '0.5em');



            // add RECTs
            maxBarGroups.attr('y', 0) // optional line that can be left out since 0 is the default
                .append('rect')
                .attr("id", function (d, i) { return d.year; })
                .attr('fill', 'red')
                .transition()
                .duration(1000)
                .attr('height', barWidth - barMargin)
                .delay(function (d, i) { return i * 300; })
                .attr('width', function (d, i) { return (d.maxTemp / maxTem) * width; });

            minBarGroups.attr('y', barWidth - barMargin) // optional line that can be left out since 0 is the default
                .append('rect')
                .attr("id", function (d, i) { return d.year; })
                .attr('height', barWidth - barMargin)
                .attr('fill', 'blue')
                .transition()
                .duration(1000)
                .delay(function (d, i) { return i * 300; })
                .attr('width', function (d, i) {
                    if (d.minTemp < 0) { d.minTemp = -d.minTemp }
                    else if (d.minTemp >= 0) { d.minTemp = -d.minTemp }
                    return (60 - (d.minTemp / maxTem) * width);
                });
            // add text on the each bar!
            maxBarGroups
                .append('text')
                .attr("text-anchor", "middle")
                .attr('x', function (d, i) { return ((d.maxTemp / maxTem) * width) - chartMargin.right })
                .attr('y', function () { return barWidth / 4; })
                .attr('fill', 'white')
                .text(function (d, i) { return d.maxTemp + "℃"; })
                .style('font-size', '0.5em');

            minBarGroups
                .append('text')
                .attr("text-anchor", "middle")
                .attr('x', function (d, i) { return 48 - ((Math.abs(d.minTemp) / maxTem) * width); })
                .attr('y', function () { return barWidth / 4; })
                .attr('fill', 'white')
                .text(function (d, i) { return d.minTemp + "℃"; })
                .style('font-size', '0.5em');

            //create a button to Detail Page.
            d3.selectAll('#graph')
                .append('a')
                .attr('href', '../Climate/Details')
                .append('button')
                .attr('type', "button")
                .classed('btn btn-success', true)
                .text('Return to Details Page');
        };


        function monthRequest() {
        
            $.ajax({        //ajax to request Monthly data.
                url: " /api/Temperature/19017/1997",
                method: "GET",
                data: null,
                dataType: "json",
                timeout: 5000,
                success: drawMonth,
                error: function error(dataSet) {
                    alert('Failed to Load Data');
                }
            })
        };


        function drawMonth(dataSet) {
            console.log(dataSet);

            //create svg append to div.
            var svg = d3.select('#graph').append('svg')
                .attr("width", "100%")
                .attr("height", 600)
                .style('border', '1px solid #000')
                .style('margin', '10px auto');

            //Define a bunch of Margin.
            var chartMargin = new Object();
            chartMargin.left = 40;
            chartMargin.right = 25;
            chartMargin.top = 25;
            chartMargin.bottom = 40;

            //define whole graph's width and height.
            var width = 350;
            var height = svg.node().getBoundingClientRect().height + width;

            //get the max and min Temp for draw purpose.
            var maxTem = d3.max(dataSet.monthlyStats, function (d) { return d.maxTemp; });
            var minTem = d3.min(dataSet.monthlyStats, function (d) { return d.minTemp; });

            // calculate bar widths
            var maxBarWidth = height / dataSet.monthlyStats.length;
            var barMargin = 20;
            var barWidth = maxBarWidth - barMargin;

            //get the real width
            width = width - chartMargin.right - chartMargin.left;

            var chartGroup = svg.append('g')
                .classed('chartGroup', true)
                .attr('transform', 'translate(' + chartMargin.top + ',' + chartMargin.right + ')');
            //create bargroups to contain maxTemp bars and minTempbars.
            var barGroups = chartGroup
                .selectAll('g')
                .data(dataSet.monthlyStats);

            var maxBarGroups = barGroups.enter()
                .append('g')
                .attr('transform', function (d, i) {
                    return 'translate('
                        + 0
                        + ','
                        + ((i + 1) * (barWidth) - barMargin)
                        + ')';
                });

            var minBarGroups = barGroups.enter()
                .append('g')
                .attr('transform', function (d, i) {
                    return 'translate('
                        + 0
                        + ','
                        + (i * (barWidth))
                        + ')';
                });


            //Add years on the left.
            maxBarGroups.append("text")
                .attr("fill", "white")
                .attr("x", -20)
                .attr("y", 2)
                .text(function (d, i) { return d.year; })
                .attr("fill", "white")
                .style('font-size', '0.5em');


            // add max rects to the g elment;
            maxBarGroups.attr('y', 0) // optional line that can be left out since 0 is the default
                .append('rect')
                .attr("id", function (d, i) { return d.year; })
                .attr('fill', 'red')
                .transition()
                .duration(1000)
                .attr('height', barWidth - barMargin)
                .delay(function (d, i) { return i * 300; })
                .attr('width', function (d, i) { return (d.maxTemp / maxTem) * width; });

            // add min rects to the g elment;
            minBarGroups.attr('y', barWidth - barMargin) // optional line that can be left out since 0 is the default
                .append('rect')
                .attr("id", function (d, i) { return d.year; })
                .attr('height', barWidth - barMargin)
                .attr('fill', 'blue')
                .transition()
                .duration(1000)
                .delay(function (d, i) { return i * 300; })
                .attr('width', function (d, i) {
                    if (d.minTemp < 0) { d.minTemp = -d.minTemp }
                    else if (d.minTemp >= 0) { d.minTemp = -d.minTemp }
                    return (60 - (d.minTemp / maxTem) * width);
                });

            // give maxTempBars text on the other end.
            maxBarGroups
                .append('text')
                .attr("text-anchor", "middle")
                .attr('x', function (d, i) { return ((d.maxTemp / maxTem) * width) - chartMargin.right })
                .attr('y', function () { return barWidth / 4; })
                .attr('fill', 'white')
                .text(function (d, i) { return d.maxTemp + "℃"; })
                .style('font-size', '0.5em');


            // give minTempBars text on the other end.
            minBarGroups
                .append('text')
                .attr("text-anchor", "middle")
                .attr('x', function (d, i) { return 48 - ((Math.abs(d.minTemp) / maxTem) * width); })
                .attr('y', function () { return barWidth / 4; })
                .attr('fill', 'white')
                .text(function (d, i) { return d.minTemp + "℃"; })
                .style('font-size', '0.5em');

            //create a button to go back to Deatails Page.
            d3.selectAll('#graph')
                .append('a')
                .attr('href', '../Climate/Details')
                .append('button')
                .attr('type', "button")
                .classed('btn btn-success', true)
                .text('Return to Details Page');
        };








    </script>
}
<!-- put your HTML and Ajax here to show the selected weather station data here -->
<!-- your selected station graphs and tables should appear below -->
