﻿
@{
    ViewBag.Title = "Weather Stations";
}

<h2>Available Weather Stations</h2>
<p>Data has been obtained from the <a href="http://www.bom.gov.au/climate/data/index.shtml" target="_blank">BOM website</a>.</p>
<div id="stations"></div>

<!-- put your HTML and Ajax here to list the available weather stations -->
@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/d3/d3.js"></script>
    <script>


        $.ajax({
            "url": "/api/Station",
            method: "GET",                          //jQuery will use this to figure out how to populate the success function's parameter.
            data: null,                                     // data being sent
            dataType: "json",                                // data coming back
            timeout: 8000,
            success: success,
            error: function error(data) {
                alert("An error occurred")
            }

        });


        function success(data) {
            
            var $div = $('#stations');//create div append table into it.
            var $table = $('<table>').addClass('table table-striped table-hover table-dark');
            var $thead = $('<thead>');
            var $tr = $('<tr>');
            var $th1 = $('<th>').text('Station No').appendTo($tr);
            var $th2 = $('<th>').text('Station Name').appendTo($tr);
            var $th3 = $('<th>').text('Period').appendTo($tr);
            var $th4 = $('<th>').text('Detail(Records of Total days)').appendTo($tr);

            $tr.appendTo($thead);
            $thead.appendTo($table);

            $tbody = $('<tbody>');

            $.each(data, function (i, val) {
                $tr = $('<tr>').attr({ 'data-station': val.stationNumber, 'href': 'https://my.unisa.edu.au/public/studentweb/?_ga=2.51569833.1849996577.1520220494-73136760.1487063494', 'title': 'click to view annual climate data' });
                var $td1 = $('<td>').text(val.stationNumber).appendTo($tr);
                var $td2 = $('<td>').text(val.stationName).appendTo($tr);
                var $td3 = $('<td>').text(val.fromYear + " - " + val.toYear).appendTo($tr);
                var $td4 = $('<td>').attr('title', "records:" + val.records + "/" + "missing:" + val.missing).text(val.records + "/" + (val.records + val.missing)).appendTo($tr);
                $tr.click(function () { window.location.href = '../Climate/Details'});
                $tr.appendTo($tbody);
            });




            $tbody.appendTo($table);
            $table.appendTo($div);
        }







    </script>
    < !--clicking on a station should take you to the annual data for that station -->

}
